<div class="company-name">
	<button class="side-menu-btn" id="side-menu-btn">
		<i class="fa fa-bars"></i>
	</button>
	<div class="c-name" id="c-name"></div>
</div>
<div class="user-menu">
	<div class="welcome-text" id="welcome-text"></div>
	<div class="dropdown">
		<div id="main-btn">
			<img src="images/img_avatar.png" class="profile-pic" id="user-login-profile-pic" alt="Avatar"
				style="width: 100%;"><i class="fa fa-caret-down"style="bottom: 0; position: absolute;"></i>
			<div class="dropdown-content" style="top: 46px; right: -38px;">
				<a id="edit-profile-btn">Edit Profile</a> <a id="p-logout-btn" href="#">Logout</a>

			</div>
		</div>

	</div>

</div>
<div id="menu-list"></div>
<script src="js/header.js"></script>