<!Doctype html>
<html>
<!-- <link rel="stylesheet" type="text/css" href="../css/side-menu.css"> -->
<body>

	<div class="btn-group">
		<button id="home-btn" class="home-btn active-btn anaymous end_user  admin">
			<i class="fa fa-home"></i>
			<p>Home</p>
			<hr class="style18" />
		</button>
		<button id="chat-btn" class="chat-btn anaymous end_user  admin">
			<i class="fa fa fa fa-comments blinnk " style=""></i>
			<div class="msg-indicator blink1">
				<p>Messages</p>
				<hr class="style18" />
			</div>
		</button>
		<button id="rctn-main-btn">
			<i class="fa fa-edit"></i><p>FeedBack</p>
			<hr class="style18" />
		</button>
		<button id="profile-btn">
			<i class="fa fa-address-card"></i><p>Profile</p>
			<hr class="style18" />
		</button>
	</div>
</body>
<script>

	/*$(document).load(function() {
		console.log("loda");
		function checkPermission() {
			console.log("check permission")
			if(this.userDetails.user.role =='admin'){
				console.log(" is Admin")
			}else{
				console.log(" is End User")
				$(".admin").hide();
				$(".end_user").show();
			}
		}
		
		checkPermission();
	})*/
</script>
</html>