

<html>

<body>

<div class="form-div">
<H1><i class="fa fa-user"></i> User Registration</H1>
	<hr>
  <form action="" id="user-reg-form">
    <label for="fname">First Name <span class="required">*</span></label>
    <input type="text" id="fName" name="firstname"  placeholder="First Name">
 <label for="fname">Last Name</label>
    <input type="text" id="lName" name="lastname" placeholder="Last Name">
       <label for="fname">Organization <span class="required">*</span></label>
    <input type="text" id="organization" name="organization" id="age" placeholder="Oganization Name">
     <label for="fname">Designation</label>
    <input type="text" id="designation" name="designation" placeholder="Designation">
         <label for="fname">Official Email <span class="required">*</span></label>
    <input type="text" id="oEmail" name="oEmail" placeholder="Official Email [ This will user login Id ]">
         <label for="fname">Personal Email</label>
    <input type="text" id="pEmail" name="pEmail" placeholder="Personal Email">
         <label for="fname">Phone Number</label>
    <input type="text" id="phone" name="phone"  placeholder="Phone Number">
         <label for="fname">About you</label>
    <input type="text" id="aboutYou" name="aboutYou"  placeholder="AboutYou">
     <label for="fname">Date Of Birth</label>
    <input type="date"  name="dob"  id ="dob" placeholder="Date Of Birth">
    <label for="fname">Group</label>
    <select name="group" id="group_id">
				</select>
				<div>
   <label for="isAdmin">Is Admin ?</label>
	<label class="switch">
  	<input type="checkbox" id="isAdmin">
	  <span class="slider round"></span>
	</label>
	<input type="text"  name="roleName"  id ="role_name" placeholder="h" style="display:none">
	</div>
    <input type="submit" value="Create User" id="create-user-btn">
<!--      <div id="create-user-btn" class="pw-submit-btn">Submit</div> -->
  </form>
</div>

</body>
<script type="text/javascript">
$('#user-reg-form').submit(function(e) { 
	e.preventDefault();
});
$("#isAdmin").change(function(e){
	$("#role_name").val($("#isAdmin").is(":checked")? "admin":"end_user");
});
$("#create-user-btn").click(function(){
	if($("#fName").val() ===""){
		showSnackBar("Please Enter First Name");
		return;
	}else if($("#organization").val() ===""){
		showSnackBar("Please Enter Organization Name");
		return;
	}else if($("#oEmail").val() === ""){
		showSnackBar("Please Enter Official Email Id");
		return;
		if(!validateEmail($("#oEmail").val())){
	
		showSnackBar("Please Enter valid Official Email Id");
		return;
		}
	}else if($("#oEmail").val() !== "" && !validateEmail($("#pEmail").val())){
		showSnackBar("Please Enter valid personal Email Id");
		return;
	}else if($("#phone").val()!=="" && !validatePhoneNumber($("#phone").val())){
		showSnackBar("Please Enter valid Phone Number");
		return;
	}
	$(".spinner").show();
	var data = '{"fName":"'
		+ $("#fName").val()
		+ '","lName":"'
		+ $("#lName").val()
		+ '","oEmail":"'
		+ $("#oEmail").val().toLowerCase()
		+ '","pEmail":"'
		+ $("#pEmail").val()
		+ '","designation":"'
		+ $("#designation").val()
		+ '","gender":"'
		+ $("#sc-date").val()
		+ '","phone":"'
		+ $("#phone").val()
		+ '","organization":"'
		+ $("#organization").val()
		+ '","dob":"'
		+ $("#dob").val()
		+ '","role_name":"'
		+ $("#role_name").val()
		+ '","aboutYou":"'
		+ $("#aboutYou").val()
		+ '"}';

	$.ajax({
		statusCode: {
		      500: function() {
		    	  showSnackBar("Duplicate entry, User is already registerd with given email");
		       }
		    },
		  method: "POST",
		  url: projectDetails.url+""+projectDetails.restappname+"/user/addUser/"+$("#group_id").val(),
		  dataType: "json",
		    contentType: "application/json",
		  data: data
		})
		.done(function( response ) {
			$(".spinner").hide();
			if(response.error ==="true"){
				showSnackBar(response.msg)
			}else{
			
			showSnackBar("User Created Successfully !!!")
			setView("view/userView");
			}
			//$("#user-reg-form input").vla("");
		}).fail(function(error){
			$(".spinner").hide();
			showSnackBar("User Creation Failed !!!")
		});

});

generateGroupNamesOptions('group_id');

</script>
<style>

</style>
</html>
